.App {
  text-align: center;
}

nav{

  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8.5vh;
  background-color: rgb(172, 250, 93);

}


.navlinks{
  width: 50%;
  display: flex;
  justify-content: space-around;
  list-style: none;
  align-items: center;
}

